apscheduler==3.10.4
deep-translator
pyromod
openai
aiofiles
aiohttp
asyncio
beautifulsoup4
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
httpx==0.23.0
httpcore==0.15.0
lyricsgenius
motor==2.5.0
wget
pillow==9.5.0
pymongo==3.12.0
pytz==2023.3.post1
psutil
pytube
pykeyboard
pyshorteners
unidecode
pyromod
py-tgcalls==1.2.9
ntgcalls==1.1.2
Abg==2.3.1
python-dotenv
pyyaml
requests
speedtest-cli
spotipy
tgcrypto
urllib3
uvloop
flask
urllib3==2.2.3
gunicorn==20.1.0
yt-dlp==2024.12.23.232812.dev0
youtube-search
youtube-search-python
git+https://github.com/KurimuzonAkuma/pyrogram
git+https://github.com/Vivekkumar-IN/pykeyboard
git+https://github.com/TelegramPlayGround/pyrogram-tgcrypto
